@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;500;700;900&family=Kenia&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color: rgb(255, 255, 255,0.87);
  /* font-family: 'Inconsolata', monospace; */
  /* font-family: 'Kenia', sans-serif; */
  font-family: 'Protest Strike', sans-serif;
  /* font-family: "Poppins", sans-serif; */
  user-select: none;
}
html, body {
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}




.particle-container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-image: url('./assets/background_6.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: scroll;
}



nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 17vh;
  width: 100%;
  position: fixed;
  z-index: 10;
  font-size: 1.5rem;
}

nav ul{
  border-radius: 50px;
  width: 50%;
  height:6svh;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.14);
  border: 1px solid rgba(255, 255, 255, 0.125);
}
nav ul a{
  color: rgb(255, 255, 255,0.6);
  text-decoration: none;
}
nav ul li a.active {
  color: #007bff;
  text-shadow: rgba(0,98,255,0.58) 0px 0px 16px; 
}
.active {
  font-weight: bold;
}

nav ul li{
  margin:0 15px;
  padding: 2px 11px;
  opacity: 0;
  animation: slideTop .7s ease forwards;
  animation-delay: 0.2s;
}
nav ul a:hover{
  color:#002A53;
}

.about-me{
  /* border: 2px solid white; */
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-me-text {
  font-size: 2.5em;
  z-index: 1;
  width: 45%;
  max-width: 100%;
  word-break: break-word;
  text-wrap: wrap;
  /* border: 2px solid red; */
  padding-left: 10vw;
}

.about-me-text h3 {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

.about-me-text .name{
  color: blueviolet;
}

.about-me-text .contact-icons{
  margin: 1vw 0;
}

.about-me-text .contact-icons ul{
  list-style-type:none;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
}

.about-me-text .contact-icons ul li{
  /* border: 2px solid white; */
  background-color: #002A53;
  height:2.8vw;
  width:2.8vw;
  margin-right: 2vw;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.about-me-text .contact-icons ul a{
  text-decoration: none;
  cursor:default;
}
.about-me-text .contact-icons ul li i{
  font-size: 1.3vw;
}
.about-me-text .contact-icons ul li i:hover{
  cursor: pointer;
}

.about-me-text .resume-button{
  /* border: 2px solid white; */
  margin-top: 5vh;
  font-size: 26px;

}

.about-me-text .resume-button a{
  text-decoration: none;
  padding:0.3vw 0.6vw;
  background-color: rgb(217, 217, 217);
  color: #002A53;
  border-radius: 0.4vw;
}
.about-me-text .resume-button a i{
  color:#002A53;
  margin-right: 0.5vw;
  font-size: 3vh;
}


.about-me-pic{
  /* border: 2px solid red; */
  width: 45%;
  display: grid;
  place-items: center;
  position: relative;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

/* .avatar-container{
  border: 5px solid rgb(235, 235, 235);
  background: linear-gradient(45deg,lightblue,blueviolet);
  height:60vh;
  width: 50%;
  border-radius: 66% 34% 54% 46% / 28% 27% 73% 72%;
} */

.avatar{
  border: 6px solid white;
  width: 20vw;
  height:20vw;
  /* width: 300px;
  height:300px; */
  border-radius: 50%;
  background-color: rgb(223, 223, 223);
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  clip-path:inset(-100vw 0 0 0 round 50%);
  
}

.avatar img{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%) scale(0.8);
  width: 100%;
  height: auto;
  transition: transform 0.2s ease;
  overflow: hidden;
}

.avatar:hover img{
  transform: translate(-50%, -50%) scale(1);
}


@keyframes slideRight{
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform:translateX(0px);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform:translateY(0px);
    opacity: 1;
  }
}
@keyframes slideTop {
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform:translateY(0px);
    opacity: 1;
  }
}
.project {
  width: 100%;
  height: 100%;
  padding: 4vw;
  /* opacity: 0; Set initial opacity to 0 */
  /* transform: translateY(20px); Move it down a bit initially, adjust as needed */
  /* transition: opacity 0.8s ease, transform 0.8s ease; Add transitions */
  /* opacity: 0;
  transition: opacity 1s ease; */
}
.project.visible {
  opacity: 1;
  /* transform: translateY(0); */
}

.project .container {
  height: 100%;
  padding: 3vw 5vw;
  display: flex;
  flex-direction: column;
}

.project .container h1 {
  font-size: 4vw;
}

.project .container p {
  display: block;
  width: 75svw;
  color: rgb(120, 120, 120);
  font-size: 1rem;
}

.project-list {
  flex: 1;
  padding: 2vw;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  /* border: 2px solid white; */
}

.project .card-container{
  /* border: 2px solid red; */
  height:max-content;
  padding:2svh;
  width:22svw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:15px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.project .card {
  position: relative;
  width:20svw;
  height: 25svh;
  max-height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  filter: brightness(50%);
  overflow: hidden;
  /* border: 6px solid white; */
}
.project .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project .card::before,
.card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color:rgb(0, 42, 83,0.8);
  transition: all 0.5s;
}

.project .card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.project .card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.project .card:hover::before,
.card:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.card .overlay {
  position: absolute;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.136);
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: opacity 0.3s ease;
  transition-delay: .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay .project-buttons a{
  display: block;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
  border: 2px solid rgb(37, 48, 191);
  padding: 0.5rem;
  border-radius: 20px;
}

.overlay .project-buttons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  font-family: 'Courier New', Courier, monospace;
}


.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project .card-container .project-info{
  /* border: 2px solid white; */
  font-family: 'DM Sans', sans-serif;
}

.project .card-container .tech-stack{
  border: 2px solid yellow;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1vw;
  flex-wrap: wrap;
}
.tech-stack .tech{
  font-family: 'DM Sans', sans-serif;
  margin-right: 1svw;
}

.project .pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.project .pagination button {
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color: #eee;
  border-color: #eee;
  font-family: "Poppins", sans-serif;;
}

.project .pagination button.active {
  font-weight: 900;
  /* border-color: #101010; */
  background:#002A53;
  color: rgb(236, 236, 236);
}



/* Experience section */

.experience{
  width: 100%;
  height: 100%;
  padding: 4vw;
}

.experience .container{
  height: 100%;
  padding: 3vw 5vw;
  display: flex;
  flex-direction: column;
}

.experience .container .title{
  font-size: 4vw;
}

.experience .container p {
  display: block;
  width: 75svw;
  color: rgb(120, 120, 120);
  font-size: 1rem;
}

.experience .timeline-container{
  font-family: "Poppins", sans-serif;
}

.experience .timeline-container .company_logo_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.experience .timeline-container .company_logo{
  height:800%;
  width:80%;
  object-fit: contain;
}

.experience .description-container .job-title{
  font-size: 24px;
}

.experience .description-container .description{
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  padding-left: 20px;
  margin: 15px 0;
  font-family:sans-serif;
}

.experience .description-container ul li{
  color: rgb(255, 255, 255,0.5);
  margin: 1vh 0;
}

/* Contact section */

.contact{
  width: 100%;
  height: 100vh;
  padding: 4vw;
}

.contact .container{
  height: 100%;
  padding: 3vw 5vw;
  display: flex;
  flex-direction: column;
}