@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;500;700;900&family=Kenia&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color: rgb(235, 235, 235);
  font-family: 'Inconsolata', monospace;
  font-family: 'Kenia', sans-serif;
}
.particle-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('./assets/background_6.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid white; */
  height: 10%;
  width: 100%;
  position: fixed;
  z-index: 10;
  font-size: 1.5rem;
}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul li{
  margin:0 15px;
  /* background-color: rgb(235, 235, 235); */
  color: white;
  padding: 2px 11px;
  /* border-radius:46% 54% 54% 46% / 51% 49% 51% 49%; */
  opacity: 0;
  animation: slideTop .7s ease forwards;
  animation-delay: 0.2s;
}
ul li:hover{
  background-color: rgb(73, 73, 73);
  color: rgb(235, 235, 235);
}

.about-me{
  border: 2px solid white;
  height: 650px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about-me-text {
  font-size: 2.5em;
  z-index: 1;
  width: 35%;
  max-width: 100%;
  word-break: break-word;
  text-wrap: wrap;
  /* border: 2px solid red; */
}

.about-me-text h3 {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

.about-me-text .name{
  color: blueviolet;
}


.about-me-pic{
  width: 50%;
  /* height: 100%; */
  /* border: 2px solid white; */

}

.about-me-pic{
  display: grid;
  place-items: center;
  position: relative;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

/* .avatar-container{
  border: 5px solid rgb(235, 235, 235);
  background: linear-gradient(45deg,lightblue,blueviolet);
  height:60vh;
  width: 50%;
  border-radius: 66% 34% 54% 46% / 28% 27% 73% 72%;
} */

.avatar{
  border: 6px solid white;
  width: 300px;
  height:300px;
  border-radius: 50%;
  background-color: rgb(223, 223, 223);
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  clip-path:inset(-100vw 0 0 0 round 50%);
  
}

.avatar img{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%) scale(0.8);
  width: 100%;
  height: auto;
  transition: transform 0.2s ease;
  overflow: hidden;
}

.avatar:hover img{
  transform: translate(-50%, -50%) scale(1);
}



@keyframes slideRight{
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform:translateX(0px);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform:translateY(0px);
    opacity: 1;
  }
}
@keyframes slideTop {
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform:translateY(0px);
    opacity: 1;
  }
}
.project {
  width: 100%;
  height: 100vh;
  padding: 4vw;
}

.container {
  height: 100%;
  padding: 3vw 5vw;
  display: flex;
  flex-direction: column;
}

.container h1 {
  font-size: 5vw;
}

.container p {
  display: block;
  width: 1000px;
  color: rgb(120, 120, 120);
  font-size: 1.5rem;
}

.project-list {
  flex: 1;
  padding: 2vw;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

.project .card {
  position: relative;
  width: 15em;
  height: 10em;
  max-height: 100%;
  background: url('./assets/project_chattersphere.png');
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  filter: brightness(50%);
  overflow: hidden;
}

.project .card::before,
.card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: lightblue;
  transition: all 0.5s;
}

.project .card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.project .card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.project .card:hover::before,
.card:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.card .overlay {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.136);
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: opacity 0.3s ease;
  transition-delay: .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay .project-buttons a{
  display: block;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
  border: 2px solid rgb(37, 48, 191);
  padding: 0.5rem;
  border-radius: 20px;
}

.overlay .project-buttons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  font-family: 'Courier New', Courier, monospace;
}


.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 25px;
}

.pagination li:hover {
  background-color: #eee;
  color: black !important;
}

.pagination .active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

